* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-primary: #5a67d8;
	--color-secondary: #a0aec0;
	--color-bg: white;

	--color-primary-hover: #rgb(87, 98, 199)
	--transition: all 500ms ease;
}
