.auth-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid red; */
	padding-top: 25px;
}

.auth-form {
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
}

.signup-text {
	color: var(--color-primary);
	font-weight: 600;
	cursor: pointer;
}

.try-demo-text {
	color: var(--color-primary);
	text-decoration: underline;
	cursor: pointer;
}

.auth-footer {
	text-align: center;
}
